.action
	h1.title.title--color-white Сезонные скидки и акции
	.action__wrapper.container
		.row
			.action__item-wrapper.col-xs-12.col-sm-6
				.action__item
					.action__item-img(style="background-image: url(img/pics/news-1.jpg);")
						.action__item-img-text Ремонтируй iPhone получай чехол в подарок!
					h2.action__item-title В октябре дарим эксклюзивный чехол!
					.action__item-text
						p Только в октябре каждому клиенту, кто заказал ремонт iphone любой модели, подарим эксклюзивный чехол в подарок! Только в октябре каждому клиенту, кто заказал ремонт iphone любой модели, подарим эксклюзивный чехол в подарок ...
					a(href="#").action__item-more Подробнее
					.action__item-btn
						a(href="#").btn Хочу эксклюзивный чехол
			.action__item-wrapper.col-xs-12.col-sm-6
				.action__item
					.action__item-img(style="background-image: url(img/pics/news-2.png);")
						.action__item-img-text -30 % — 10 дней на ремонт ноутбуков
					h2.action__item-title С 10 по 20 ноября - 30% на ремонт ноутбуков!
					.action__item-text
						p Только в ноябре каждому клиенту, кто заказал ремонт ноутбука любой модели, подарим скидку на любой ремонт! Только в октябре каждому клиенту, кто заказал ремонт iphone любой модели, подарим эксклюзивный чехол в подарок ...
					a(href="#").action__item-more Подробнее
					.action__item-btn
						a(href="#").btn Получить -30%  на ремонт