//- Choose city modal
#choose-city-modal.modal.fade
	.modal-dialog(role='document')
		.modal-content
			.modal-header
				h2.modal-title Выберите ваш город
			.modal-body
				ul
					li
						a(href="#") Санкт-Петербург
					li
						a(href="#") Москва
					li
						a(href="#") Сызрань
					li
						a(href="#") Ярославль
					li
						a(href="#") Сочи
			.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal') Закрыть

//- Fedback modal
#feedback-modal.modal.fade
	.modal-dialog(role='document')
		.modal-content
			.modal-header
				h2.modal-title Перезвоните мне
			.modal-body
				form#feedback-form(action="#")
					input(type="text" name="phone" placeholder="Ваш номер" required).input.input--block
			.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
				button.btn.btn-default(type='submit' form="feedback-form") Отправить