header.page-header.container
	.page-header__wrapper.row

		//- Logo
		.page-header__logo-wrapper.col-xs-12.col-sm-6.col-md-4
			a(href="#").page-header__logo Компания R
			.page-header__slogan Ремонт с душой!<br>Это так по петербургски!

		//- Locations
		.location.hidden-xs.hidden-sm.col-md-5
			.location__city
				button(type="button" data-toggle="modal" data-target="#choose-city-modal").btn.btn--clear.btn--pseudolink Сантк-Петербург
				span ещё 19 мастерских
			.location__address-wrapper
				button(type="button" data-toggle="dropdown" data-target="#choose-metro-dropdown" role="button" aria-expanded="false").btn.btn--clear.btn--dropdown м. Василеостровская
				ul#choose-metro-dropdown.location__metro-list
					li.location__metro-item: a(href="#") м. Василеостровская
					li.location__metro-item: a(href="#") м. Пролетарская
					li.location__metro-item: a(href="#") м. Улица Дыбенко
				.location__address наб. Лейтенанта Шмидта 21<br>(1 этаж, офис 109)

		//- Phone
		.contacts.hidden-xs.col-sm-6.col-md-3
			.contacts__wrapper.contacts__wrapper--float-right
				.contacts__phone +7 (812) 335-00-00
				button(type="button" data-toggle="modal" data-target="#feedback-modal").btn.btn--block Перезвоните мне