footer.page-footer
	.page-footer__wrapper.container
		.row
			.col-xs-12.col-sm-6
				.row
					ul.page-footer__list.col-xs-12.col-md-4
						li
							a(href="#") Ноутбуки
						li
							a(href="#") Телефоны
						li
							a(href="#") Apple
						li
							a(href="#") Портативная техника
					ul.page-footer__list.col-xs-12.col-md-4
						li
							a(href="#") Цены и акции
						li
							a(href="#") Отзывы
						li
							a(href="#") Контакты
					ul.page-footer__list.col-xs-12.col-md-4
						li
							a(href="#") О компании
						li
							a(href="#") Сотрудничество
						li
							a(href="#") Вакансии
			//- Phone
			.contacts.col-xs-12.col-sm-6
				.contacts__wrapper.contacts__wrapper--float-right.contacts__wrapper--color-white
					.contacts__phone +7 (812) 335-00-00
					button(type="button" data-toggle="modal" data-target="#feedback-modal").btn.btn--block Обратиться в контроль качества