@s-apple-icon: 0px 33px 0px -33px 28px 32px 88px 81px url('../img/sprite.png');
@s-device-icon: 66px 0px -66px 0px 22px 32px 88px 81px url('../img/sprite.png');
@s-header-dropdown: 29px 58px -29px -58px 12px 6px 88px 81px url('../img/sprite.png');
@s-header-pin: 0px 66px 0px -66px 10px 15px 88px 81px url('../img/sprite.png');
@s-notebook-icon: 29px 33px -29px -33px 32px 24px 88px 81px url('../img/sprite.png');
@s-phone-icon: 66px 33px -66px -33px 21px 32px 88px 81px url('../img/sprite.png');
@s-price-icon: 0px 0px 0px 0px 32px 32px 88px 81px url('../img/sprite.png');
@s-review-icon: 33px 0px -33px 0px 32px 30px 88px 81px url('../img/sprite.png');
