//------------------------------------------------------------------------------
//  Colors
//------------------------------------------------------------------------------

@brand-primary: #ff6840;
@brand-secondary: #122d4f;
@link-color: #2f5490;
@link-color--hover: darken(@link-color,20%);

@white: #fff;
@black: #000;

@text-color: #131313;
@text-color--gray: #7f7f7f;

@main-bg: @white;

//------------------------------------------------------------------------------
//  Typography
//------------------------------------------------------------------------------

@font-neo-sans:               "Neo Sans Pro", sans-serif;
@font-roboto-slab:             "Roboto Slab", sans-serif;
@font-myriad-pro:             "Myriad Pro", sans-serif;
@font-rouble:                 "Rouble", sans-serif;
@font-family:                 @font-neo-sans;

@base-font-size:              10px;
@font-size:                   1.4rem;

@font-size--h1:               2.8rem;
@font-size--h2:               2.0rem;
@font-size--h3:               1.8rem;
@font-size--h4:               1.4rem;
@font-size--h5:               1.2rem;

@line-height:                 1;

//------------------------------------------------------------------------------
//  Grid
//------------------------------------------------------------------------------

@grid-columns:                12;
@grid-gutter-width:           30px;

//------------------------------------------------------------------------------
//  Responsive
//------------------------------------------------------------------------------

@screen-xs:                   320px;
@screen-sm:                   750px;
@screen-md:                   1366px;
// @screen-lg:                   1280px;

@container-tablet:            @screen-sm;
@container-desktop:           @screen-md;
@container-large-desktop:     @screen-md;


//------------------------------------------------------------------------------
//  Animations
//------------------------------------------------------------------------------

@transition-time: .2s;

//------------------------------------------------------------------------------
//  Buttons
//------------------------------------------------------------------------------



//------------------------------------------------------------------------------
//  Other
//------------------------------------------------------------------------------

@border-radius-base: 5px;