include ../mixins/_svg

doctype
html(lang="ru")

	block vars

	include _head

	body
		include ../components/_page-header
		include ../components/_menu

		main.main(id='#{page}')
			block content

		include ../components/_page-footer
		include ../components/_modals

		include _footer