extends templates/_layout

block vars
	- var page = "index";
	- var title = "Главная";
	- var absoluteHeader = false;

block styles
	link(rel="stylesheet", href="css/#{page}-style.min.css")

block content

block scripts
	script(src='js/#{page}-script.min.js' defer)