extends templates/_layout

block vars
	- var page = "index";
	- var title = "Главная";
	- var absoluteHeader = false;

block styles
	link(rel="stylesheet", href="css/#{page}-style.min.css")

block content
	h1 Сколько стоит отремонтировать технику?
	include components/_price-table
	include components/_action

block scripts
	script(src='js/#{page}-script.min.js' defer)